$black90: #1e2d3d;
$black80: #273443;
$black70: #323d4a;
$black50: #424c57;
$black40: #656e77;
$black20: #8c939a;
$black15: #c3c8ce;
$black10: #dfe3e8;
$black05: #eef1f3;
$black03: #f8f8f9;
$white: #fff;

$blacka90: rgba(4, 6, 8, 0.9);
$blacka80: rgba(4, 6, 8, 0.8);
$blacka70: rgba(4, 6, 8, 0.7);
$blacka50: rgba(4, 6, 8, 0.53);
$blacka40: rgba(4, 6, 8, 0.42);
$blacka20: rgba(4, 6, 8, 0.2);
$blacka15: rgba(4, 6, 8, 0.15);
$blacka10: rgba(4, 6, 8, 0.1);
$blacka05: rgba(4, 6, 8, 0.05);
$transparent: rgba(4, 6, 8, 0);
$whitea10: rgba(255, 255, 255, 0.1);
$whitea40: rgba(255, 255, 255, 0.42);
$whitea80: rgba(255, 255, 255, 0.8);

$dark-purple: #19164d;
$blue: #18b8ea;
$dark-blue: #1e9adb;
$light-green: #2fd993;
$green: #00c976;
$dark-green: #00af5f;
$light-red: #ff7389;
$red: #ec2d4c;
$dark-red: #d22945;
$marigold: #ffc400;
$asphalt-gray: #809db2;
$cartography-beige: #f3eee2;
